@{
    ViewData["Title"] = "Index";
}
@section Styles {
    <link rel="stylesheet" href="~/css/helloWorld.css" asp-append-version="true">
    <!-- 其他样式内容 -->
}

<h2>Index</h2>

<p>Hello from our View Template!123</p>

@for (int i = 0; i < (int)ViewData["NumTimes"]!; i++)
{
    <li>@ViewData["Message"]</li>
}

@section Scripts {
    <script src="~/js/helloWorld.js" asp-append-version="true"></script>
    <!-- 其他脚本内容 -->
}